.color-gold {
  color: gold;
}
.color-tomato {
  color: tomato;
}

.reset-anchor {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .md\:ml-21 {
    margin-left: 21rem !important;
  }

  .md\:w-20 {
    width: 20rem !important;
  }
}
