<div>
  <div class="fixed">
    <app-home-filter (filterCat)="filterCat($event)"></app-home-filter>
  </div>
  <div class="relative md:ml-21">
    <!-- Product Cards -->
    <div class="grid grid-nogutter">
      <ng-container *ngIf="products.length; else empty">
        <div class="col-3 px-2" *ngFor="let product of products">
            <app-home-card [product]="product"></app-home-card>
        </div>
      </ng-container>
      <ng-template #empty>
        <div class="col px-2 text-center">
          <h1 class="text-xl font-semibold">
            Maaf, produk tidak ditemukan
          </h1>
        </div>
      </ng-template>
    </div>
  </div>
</div>
