<mat-toolbar class="md:h-5rem">
  <div class="grid grid-nogutter w-full align-items-center px-6">
    <div class="col">
      <a class="m-0 reset-anchor" routerLink="/">E-Commerce</a>
    </div>
    <div class="col text-right">
      <a routerLink="cart" mat-icon-button>
        <mat-icon
          [matBadge]="cartItem.length"
          matBadgeSize="medium"
          matBadgeOverlap="false"
          matBadgeColor="warn"
          [matBadgeHidden]="!cartItem.length"
          >shopping_cart</mat-icon
        >
      </a>
    </div>
  </div>
</mat-toolbar>
<div class="px-8 p-5 md:inner-content">
  <router-outlet></router-outlet>
</div>
<div>
  <mat-toolbar class="md:h-5rem">
    <div
      class="grid grid-nogutter w-full justify-content-center align-items-center px-6"
    >
      <div class="col-2">
        <p class="m-0 text-center">Footer</p>
      </div>
    </div>
  </mat-toolbar>
</div>
